* {
  margin: 0;
  padding: 0;
  /* fonts */
  font-family: "Oswald", sans-serif;
}

html {
  max-width: 100%;
}

body {
  color: #fff;
}

header {
  width: 100%;
  height: 90px;
  background-color: #3239c0;
  border-bottom: 1px solid #fff;
}

header nav ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

header nav ul .li_header {
  padding: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

header nav ul li a:hover {
  /* background-color: #fff; */
  color: black;
}

header .txt_logo {
  display: flex;
}

header .txt_logo p {
  font-size: 25px;
  padding: 30px;
}
/*hover TRAVELEGY*/
header .txt_logo:hover {
  color: #fff;
}

header .img_logo {
  width: 72px;
  height: 77px;
  margin-top: 5px;
  margin-left: 25px;
}

.container_startpage {
  width: 100%;
  height: 550px;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25)),
    url("../Assets/afbeeldingen/sea.png");
  background-size: cover;
  background-position: center;
}

.container_startpage h2 {
  display: flex;
  justify-content: center;
  padding-top: 190px;
  font-size: 80px;
  font-weight: bold;
}
